//button

  button{
    cursor: pointer;
  }
  .button{
    background-color: $button-blue;
    border: 1px solid transparent;
    color: $primary-white;
    border-radius: 4px;
    outline: 0;
    display: inline-block;
    user-select: none;
    width: 100px;
    text-decoration: none;
    text-align: center;
  
    &.btn-medium{
      width: 110px;
      height: 40px;
      line-height: 30px;
      @include responsive_mobile(){
        background: transparent;
        color: $primary-blue;
        font-size: 12px;
        width: auto !important;
      }
    }
    &.btn-secondary{
      background-color: transparent;
      border: 1px solid $button-blue;
      color: $button-blue;
    }
  }
  