//colors
//title,text
$primary-black: #333333;
$primary-white: #FFFFFF;
$primary-blue: #1973B8;

//button
$button-blue: #1973B8;

//border
$border-gray: #DFDFE0;
$border-white: #FFFFFF;
$border-blue: #1973B8;
$border-darkgray: #BDBDBD;

//link,label
$label-blue: #1973B8;
$label-gray: #666666;

//background
$bg-white: #FFFFFF;
$bg-lightGray: #F4F4F4;
$bg-black: #000000;
$bg-blue: #1973B8;

